/* Dark mode colors. */
:root {
  --sl-color-accent-low: #361925;
  --sl-color-accent: #eb8ec3;
  --sl-color-accent-high: #e3bcca;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #ebced8;
  --sl-color-accent: #eb8ec3;
  --sl-color-accent-high: #4e2134;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
}

:root[data-theme="light"] .action.primary {
  background: var(--sl-color-text-accent);
  color: var(--sl-color-white);
  font-weight: 500;
}

:root[data-theme="light"] [aria-current="page"],
:root[data-theme="light"] [aria-current="page"]:hover,
:root[data-theme="light"] [aria-current="page"]:focus {
  color: var(--sl-color-white);
}

pixel-art {
  image-rendering: pixelated;
}

img {
  min-width: 150px;
}

img {
  max-height: 65vh;
  object-fit: contain;
  width: min-content;
}

/* HERO styles */

:root {
  --purple-hsl: 240, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

:root[data-theme="light"] {
  --purple-hsl: 240, 85%, 65%;
}

[data-has-hero] .page {
  background: linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}
