---
import { Icon } from "@astrojs/starlight/components";
import StarlightThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import type { Props } from "@astrojs/starlight/props";

const currentPath = Astro.url.pathname;
---

<div class="flex gap-2 w-max font-medium h-full">
  <a href="/community" class="action sl-flex">Community</a>

  <a href="/features" class="action sl-flex">Features</a>

  <a
    href="https://www.youtube.com/playlist?list=PLAugdrGHTh7LLhKS8tcofeuz5jjIK6_-K"
    target="_blank"
    rel="noopener noreferrer"
    class="action sl-flex"
  >
    Showcase
    <Icon name="external" size="1rem" class="opacity-65" />
  </a>

  <a
    href="https://discord.gg/WTxUC4hEnS"
    target="_blank"
    rel="noopener noreferrer"
    class="action sl-flex"
  >
    Discord
    <Icon name="external" size="1rem" class="opacity-65" />
  </a>

  <a href="/overview" class="action sl-flex">PS Maker Docs</a>
</div>

<div class="divider">
  <a
    href="https://app.pixelstories.io"
    class="btn-primary p-1.5 px-3 mr-1 gap-0.5 text-sm hover:opacity-90 transition-all"
    target="_blank"
    rel="noopener noreferrer"
  >
    Launch PS Maker
  </a>
</div>

<StarlightThemeSelect {...Astro.props}>
  <slot />
</StarlightThemeSelect>

<style>
  .action {
    gap: 0.25em;
    align-items: center;
    border-radius: 999rem;
    padding: 0.25rem 0.75rem;
    color: var(--sl-color-gray-2);
    line-height: 1.1875;
    text-decoration: none;
    font-size: var(--sl-text-sm);

    transition: opacity 250m s;
  }

  .action:hover {
    opacity: 0.6;
  }

  .divider {
    border-inline-end: 1px solid var(--sl-color-gray-5);
    padding-inline-end: 1rem;
  }

  @media (min-width: 50rem) {
    .action {
      font-size: var(--sl-text-sm);
      padding: 0.25rem 0.75rem;
    }
  }
</style>
