<!-- Logo & Branding -->
<div>
  <!-- Replace with your actual logo path or an <svg> icon -->
  <div class="flex w-auto mb-4 gap-2 justify-start items-center">
    <img
      src="/src/assets/logo-outline.svg"
      alt="Pixel Stories"
      class="not-content h-16 object-contain object-left bg-black rounded-[22px]"
    />
  </div>
  <p class="font-mono text-sm flex flex-col gap-2">
    <span>&copy; {new Date().getFullYear()} Pixel Stories, Inc.</span>
  </p>
</div>
