<div class="not-content text-sm w-full flex flex-col justify-center pt-20">
  <code style="text-align:center;background:transparent;">
    © 2024 Pixel Stories - <a href="/terms">Terms of Use & Privacy</a>
  </code>
</div>
