---
import Footer from "./Footer.astro";
import { Card, CardGrid, LinkCard } from "@astrojs/starlight/components";
---

<div class="not-content flex flex-col gap-3 max-w-[800px] mx-auto">
  <div class="flex flex-col gap-3 max-w-[800px] mx-auto">
    <h3 class="text-center">Make Your First Game Today!</h3>

    <div class="flex flex-wrap gap-2 items-stretch">
      <div class="flex-1 h-full min-w-[200px]">
        <LinkCard
          title="Engine Docs"
          description="See our quick guide on getting started!"
          href="/getting-started"
        />
      </div>
      <div class="flex-1 h-full min-w-[200px]">
        <LinkCard
          title="Get Started Tutorial"
          description="Get familiar with the engine with our tutorial."
          href="/tutorials/basic"
        />
      </div>
      <div class="flex-1 h-full min-w-[200px]">
        <LinkCard
          title="Official  Discord"
          description="See our official Discord server."
          href="https://discord.gg/XN9EaUh26g"
        />
      </div>
    </div>

    <Footer />
  </div>
</div>
