---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/SocialIcons.astro";
import { Icon } from "@astrojs/starlight/components";
---

<div class="flex gap-2 gap-x-3 w-max">
  <a href="/getting-started" class="action sl-flex">Pricing</a>

  <a href="/getting-started" class="action sl-flex">Docs</a>

  <a
    href="https://app.pixelstories.io"
    class="action sl-flex"
    target="_blank"
    rel="noopener noreferrer"
  >
    Launch engine <Icon name="external" size="1.25rem" />
  </a>
</div>

<Default {...Astro.props}><slot /></Default>

<style>
  .action {
    gap: 0.5em;
    align-items: center;
    border-radius: 999rem;
    padding: 0.25rem 0.5rem;
    color: var(--sl-color-white);
    line-height: 1.1875;
    text-decoration: none;
    font-size: var(--sl-text-sm);
  }

  @media (min-width: 50rem) {
    .action {
      font-size: var(--sl-text-sm);
      padding: 0.25rem 0.25rem;
    }
  }
</style>
