---
import PricingColumn from "./PricingColumn.astro";

const plans = [
  {
    name: "Free tier",
    description: "Create your game today!",
    price: "$0",
    points: [
      "Access to all engine features",
      "1 project",
      "2 maps",
      "50 events",
    ],
  },
  {
    name: "Starter pack",
    description: "One time purchase",
    price: "$19.99",
    points: [
      "Remove Pixel Stories branding in game",
      "Allow share/export",
      "Unlimited projects",
      "Unlimited maps",
      "500 events",
    ],
  },
  {
    name: "Pro pack",
    description: "One time purchase",
    price: "$39.99",
    points: ["Everything in Starter", "1500 events"],
  },
];
---

<div class="not-content">
  <div class="flex gap-4 flex-grow h-[380px]">
    <PricingColumn {...plans[0]} />
    <PricingColumn {...plans[1]} />
    <PricingColumn {...plans[2]} />
  </div>
</div>
