<div class="max-w-[800px] mx-auto">
  <h2 class="text-center">Frequently Asked Questions</h2>

  <br />

  <div>
    <strong>Game Engine</strong>
  </div>

  <details>
    <summary>Do I need to know how to code?</summary>
    Nope! The Pixel Stories Engine is designed from the ground up to be a no-code
    engine. With the Pixel Stories Engine, you can easily build your captivating
    and immersive story-driven game without the need of a technical background.
  </details>

  <details>
    <summary>Can I use the Free plan for commercial projects?</summary>
    No. The Free plan is designed for personal and non-commercial use. For commercial
    projects, you’ll need to upgrade to the Professional plan.
  </details>

  <details>
    <summary
      >Is the Professional plan a subscription or a one-time purchase?</summary
    >
    It’s a one-time purchase!
  </details>

  <br />

  <div>
    <strong>Resources and Support</strong>
  </div>

  <details>
    <summary>How do I learn the Pixel Stories engine?</summary>
    Check out our in depth tutorials on the
    <a href="/tutorials/project-setup">Pixel Stories Docs </a>
    ! We also offer
    <a href="https://www.youtube.com/channel/UC62czApVKmYFH8clyDqKiVQ">
      YouTube tutorials
    </a>
    and guides to help you along. If you are ever stuck or need help, feel free to
    also reach out on our <a
      href="https://discord.gg/XN9EaUh26g"
      target="_blank"
      rel="noopener noreferrer"
    >
      Discord
    </a> or email our <a href="mailto:truman@pixelstories.io">support team</a>!
  </details>
  <details>
    <summary>Where do I get support while developing my game?</summary>
    Our loving community on <a
      href="https://discord.gg/XN9EaUh26g"
      target="_blank"
      rel="noopener noreferrer"
    >
      Discord
    </a> is always open to helping others! Feel free to also email our <a
      href="mailto:truman@pixelstories.io">support team</a
    >!
  </details>

  <br />
  <br />

  <div class="flex justify-center w-full">
    <p class="text-center">
      Still have more questions?
      <a href="mailto:truman@pixelstories.io">Contact us</a>
    </p>
  </div>
</div>
