---
import PricingColumn from "./PricingColumn.astro";

const plans = [
  {
    name: "Free",
    description: "Create your game today!",
    price: "$0",
    points: [
      "Access to all engine features",
      "Unlimited events",
      "Unlimited custom assets",
      "Desktop export",
      "Mobile export",
      "Web export",
      "10-map limit",
    ],
  },
  {
    name: "Professional",
    description: "One-time purchase",
    price: "$49.99",
    points: [
      "Everything in Free",
      "Unlimited maps",
      "Commercial license",
      "Remove watermarks",
    ],
  },
  {
    name: "Indie Studio",
    description: "Contact us for details",
    price: "Contact us",
    points: [
      "Everything in Hobbyist",
      "Commercial license",
      "Dedicated support",
    ],
  },
];
---

<div class="not-content flex flex-col gap-10">
  <div class="flex flex-col items-center gap-2 my-6">
    <p
      class="text-base font-medium border rounded-lg p-1 px-3 bg-gradient-to-r
      text-black from-indigo-200 via-purple-200 to-pink-200"
    >
      The Pixel Stories Engine
    </p>
    <p class="text-2xl text-center">
      Make your <span class="italic">story-driven</span> game for desktop, mobile,
      and web
    </p>
  </div>

  <div class="flex flex-col items-center gap-6">
    <h2 class="text-4xl font-medium text-center dark:text-white">
      Pricing and Features
    </h2>
    <div
      class="flex gap-4 flex-grow min-h-[430px] flex-wrap justify-center w-full"
    >
      {plans.map((plan) => <PricingColumn {...plan} />)}
    </div>
  </div>
</div>
