<div class="max-w-[800px] mx-auto">
  <h2 class="text-center">Frequently Asked Questions</h2>

  <strong>Game Engine</strong>

  <details>
    <summary>Do I need to know how to code?</summary>
    Nope! The Pixel Stories Engine is designed from the ground up to be a no-code
    engine. With the Pixel Stories Engine, you can easily build your captivating
    and immersive story-driven game without the need of a technical background.
  </details>

  <details>
    <summary>What are events?</summary>
    Events are the building blocks that control what happens in your game. These
    events can include actions like showing a dialog, moving an actor, adding an
    interaction, or starting a timer.
  </details>

  <details>
    <summary>How many events do I need?</summary>
    With the starter pack, you have 500 events to use across your projects. It is
    enough to build an indepth, fully featured, indie story-driven game or several
    short story-driven games.
  </details>

  <details>
    <summary>What happens when I reach my event limit?</summary>
    Once you've used all your events, all features are still functional but you cannot
    add more events in the game engine. We offer the ability to purchase more events
    as you continue in your game development journey!
  </details>

  <br />

  <strong>Resources and Support</strong>

  <details>
    <summary>How do I learn the Pixel Stories engine?</summary>
    Check out our in depth tutorials on the
    <a href="/tutorials/project-setup">Pixel Stories Docs </a>
    ! We also offer
    <a href="https://www.youtube.com/channel/UC62czApVKmYFH8clyDqKiVQ">
      YouTube tutorials
    </a>
    and guides to help you along. If you are ever stuck or need help, feel free to
    also reach out on our <a
      href="https://discord.gg/XN9EaUh26g"
      target="_blank"
      rel="noopener noreferrer"
    >
      Discord
    </a> or email our <a href="mailto:truman@pixelstories.io">support team</a>!
  </details>
  <details>
    <summary>Where do I get support while developing my game?</summary>
    Our loving community on <a
      href="https://discord.gg/XN9EaUh26g"
      target="_blank"
      rel="noopener noreferrer"
    >
      Discord
    </a> is always open to helping others! Feel free to also email our <a
      href="mailto:truman@pixelstories.io">support team</a
    >!
  </details>

  <div class="flex justify-center w-full">
    <p class="text-center">
      Still have more questions?
      <a href="mailto:truman@pixelstories.io">Contact us</a>
    </p>
  </div>
</div>
